<div class="logo-text center" style="width:75%; color:white;">
	<div class="top-log-in">
		<h1 style="color:black">Welcome to Mindful</h1>

		<p style="font-size: 12px; line-height: 15px;">
			Mindful is a customizable digital notebook that associates familiar or
			memorable images to unfamiliar text you are trying to memorize. By
			taking pictures of your hand written notes Mindful digitizes them and
			stores them on it’s online application for easy access. Here you can
			organize and arrange as you like. enter your email to give it a try.
		</p>
	</div>
	<div class="bottom-log-in">
		<script type="text/javascript">

		</script>
		<%= form_for(:session, :url => sessions_path, :html => {:name => 'sign_in'})  do |f| %>

				Name:
				<%= f.text_field :user_name, :style => "margin-left: 10px;", :id => "sign-in-field", :placeholder => "John Doe", :size => "27" %>
			
				<div class="sign-in-button" >
					<a href="javascript:document.sign_in.submit()" class="fill-div" style="padding-left: 10px;">Get started</a>
				</div>
			
		<% end %>
	</div>

</div>