<div class="clazz-box">
	<div class="clazz-name"><h3><%= link_to clazz.name, clazz %> </h3></div>
	<ul class="sections-list" id="section-<%= clazz.id %>">
		<%= render :partial => "sections/section_list", :collection => clazz.sections %>
		<li>
			<%= link_to '+', {:controller => "sections", :action => "new", :clazz => clazz.id}, :remote=>true %>
		</li>
	</ul>
</div>