<div id="popupContainer" class="hidden draggable" style="display:none">
	<a id="close" class="hidden" title="close popup"></a>
	<h1>Title goes here</h1>
	<div id="contactArea">	
		<%= render 'form' %>
	</div>
</div>
<div id="overlayEffect"></div>