<!-- Will be the URL -->
<div id="class-scroller-container">

		<!-- Call each Section now-->
		<div class="float-down-zero">
		<ul id="class-scroller">
			<%= render :partial => "sections/section_scroll", :collection => @clazz.sections %>
		</ul>
		</div>
</div>
<section id="content">
	<div id="notice"><%= notice %></div>
	<!-- Not sure about container, but this is where the page canvas will go-->
</div>


<%= link_to 'Edit', edit_clazz_path(@clazz) %> |
<%= link_to 'Back', clazzs_path %>
