<!DOCTYPE html>
<script type="text/javascript">
	$(document).ready(function(){


	});
</script>
<div id="main">
	<div id="content-column">
		<% 0.upto(2) do |column_number| %>
			<div class="column" id="column<%=column_number%>">
				<div style="padding: 5px">
					<% @user.clazzs.to_a.every_third(column_number).each do |clazz| %>
						<%= render clazz %>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>

</div>
<div id="sidebar">
	<div class="class_button shadow">
		<!--:remote=>true,-->
		<h3><%= link_to '+ New Class', new_clazz_path, :remote=>true, :class=>'create_clazz fill-div', :style => "padding-left: 10px;" %></h3>
		<div id="attachme"></div>
	</div>
</div>
<div class="clear"> </div>
