<%= form_for(form_list, :remote => true) do |f| %>
	<%= hidden_field_tag(:clazz_id, form_list.id ) %>

<% end %>


<form accept-charset="UTF-8" action="/sections" class="new_section" data-remote="true" id="new_section" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="mEK5yuEeZHF1A0MyjsvtMWF4P+eKdrt3H/Rh20fs1Rg="></div>
</form>


<form accept-charset="UTF-8" action="/clazzs/1" class="edit_clazz" data-remote="true" id="edit_clazz_1" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="_method" type="hidden" value="put"><input name="authenticity_token" type="hidden" value="mEK5yuEeZHF1A0MyjsvtMWF4P+eKdrt3H/Rh20fs1Rg="></div>
</form>