<script type="text/javascript">
	$(document).ready(function() {



	});
</script>
<div id="notice-container">
		<div id="notice" style="display:none" class="center">
			<div id="basic-template">
		        <a class="ui-notify-cross ui-notify-close" href="#">x</a>
		        <h1>#{title}</h1>
		        <p>#{text}</p>
		    </div>
		 
		    <div id="basic-template-noclick">
		         <h1>#{title}</h1>
		        <p>#{text}</p>
		    </div>
		</div>
	</div>
<div id="page-canvas" class="center" data-page-id="<%= page.id %>">
	<div id="entry-trash" class="normal">
	</div>
	<%= render :partial => "entries/entry", :collection => page.entries, :locals => { :color => page.section.color[:color] } %>
</div>