/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body,
html {
	margin:0;
	padding:0;
	color:#000;
	background:#a7a09a;
	font: normal small/1.4em Verdana, sans-serif;
	font-family: Verdana, sans-serif;
	height: 100%;
}

h1 {
	font-weight: normal;
	margin-bottom: 2px;
	font-size: 2.2em;
	/*font-size: 36 pt; */
}

/* Pop Up CSS */
.float-down {
	float: right;
	/*width: 60%; 
	height: 51px; */
	position: absolute;
	bottom: 10px;
	width: 90%;
}

.container {
	background: gray;
}

.header {
	height: 60px;
	background:#999;
}

.left-nav {
	width: 200px;
	height: 60px;
	background-color: #999000;
	float: left;
}

.right {
	width: 60%;
	float: right;

}

.right-nav {
	float: right;
	min-width: 400px;
}

.clear {
	clear:both;
}

.class-content {
	float: right;
	background-color: #303030;
	width: 100%;
	height: 400px;
}

