/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body,
html {
	margin:0;
	padding:0;
	color:#000;
	font: normal small/1.4em Helvetica Neue light;
	font-family: Helvetica Neue light;
	height: 100%;
}

h1 {
	font-weight: normal;
	margin-bottom: 2px;
	font-size: 2.2em;
}

h5, h6 {
	margin-bottom: 0px;
}

h3 {
	margin: 0;
	font-weight:normal;
}

#container table {
	background-color: green;
}

/* Should be all ul but needa change margin */
ul.class-scroller, ul.sections-scroll, ul.connectedSortable {
	height: 75px;
	list-style-type:none;
	margin:0;
	padding:0;
	float: left;
	display:block;
	overflow:hidden
}

ul.inner-scroller {
	list-style-type:none;
	margin:0;
	padding:0;
}

.shadow {
	-moz-box-shadow: 3px 3px 3px #000;
	-webkit-box-shadow: 3px 3px 3px #000;
	box-shadow: 3px 3px 3px #000;

	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#000000')";

	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#000000');
}

.shadow-bottom {
	-webkit-box-shadow: 0 8px 6px -6px #000;
	   -moz-box-shadow: 0 8px 6px -6px #000;
	        box-shadow: 0 8px 6px -6px #000;

	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#000000')";

	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#000000');
}

li a#show-text-btn {
	text-indent: -9999px;
	height: 25px;
	width: 29px;
	
}

li a.show-text-btn-on {
	background: url(show_buttons.png) no-repeat 0px 0px;
}

li a.show-text-btn-off {
	background: url(show_buttons.png) no-repeat -32px 0px;
}

ul.button-nav {
	list-style: none;
	margin: 0;
	width: 200px;
}
ul.button-nav li {
	float: left;
	padding: 0 15px 0 0;
	position: relative; /*--Declare X and Y axis base for sub navigation--*/
	margin-top: 10px;
}
ul.button-nav li a{
	display: block;
	text-decoration: none;
	float: left;
}

/**  Will Give us a different image */
ul.button-nav li a:hover{
	/*background: url(new_button_body_hover.png) no-repeat center top; */
}

ul.button-nav li span { /*--Drop down trigger styles--*/
	width: 21px;
	height: 35px;
	float: left;
	background: url(drop_down_buttons.png) no-repeat -4px 0;
}
ul.button-nav li span.subhover {
	/*background-position: center bottom; */
	cursor: pointer; 
	/*background: url(subnav_btn_hover.png) no-repeat center top; */
	background: url(drop_down_buttons.png) no-repeat -30px 0;
} /*--Hover effect for trigger--*/

ul.button-nav li ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 0; top: 25px;
	background: #333;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 80px;
	border: 1px solid #111;
}
ul.button-nav li ul.subnav li{
	margin: 0; padding: 0;
	border-top: 1px solid #252525; /*--Create bevel effect--*/
	border-bottom: 1px solid #444; /*--Create bevel effect--*/
	clear: both;
	width: 80px;
	z-index: 1010;
}
html ul.button-nav li ul.subnav li a {
	float: left;
	width: 60px;
	background: #333 no-repeat 10px center;
	padding-left: 15px;
}
html ul.button-nav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
	background: #222 no-repeat 10px center;
}


/* Unorganized things are below here. Above should be default things like shadow or styles that aren't page specific */

#left-nav {
	width: 200px;
	height: 60px;
	/*background-color: #999000;
	cursor: pointer; */
	float: left;
}

#class-scroller-container {
	height: 77px; /* Was 85 but needed to be changed */
	width: 100%;
	background-color: #464646;
	position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    z-index: 989;

}

#class-scroller {
	width: 100%;
	background-color: #464646;
	position: relative;
	display:block;
	padding-top: px;
}

#page-canvas {
	width: 90%;
	height: 100%;
	padding-top: 10px;
}


/* Class for Preview Boxes */
li.mini-box {
	height: 75px;
	min-width: 20px;
	width: 75px;
	background-color: #555555;
	float: left;
	margin: 0 2px 0 2px;
	cursor: pointer;
	margin-top: 8px;
}

li.mini-box-add {
	width: 25px;
	text-align: center;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

/* Pop Up CSS */
.float-down {
	float: right;
	/*width: 60%; 
	height: 51px; */
	position: absolute;
	bottom: 10px;
	width: 90%;
}

/* Pop Up CSS */
.float-down-zero {
	float: right;
	position: absolute;
	width: 100%;
	height: 75px;
}

.center {
	margin-left:auto;
	margin-right:auto;
}

.container {
	background: gray;
}

.header {
	height: 60px;
	background:#999;
	z-index: 990;
	position: relative;
}

.right {
	width: 60%;
	float: right;

}

.right-nav {
	float: right;
	min-width: 200px;
}

.clear {
	clear:both;
}

.class-content {
	float: right;
	background-color: #303030;
	width: 100%;
	height: 400px;
}

