// Place all the styles related to the Clazzs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3 {
	margin-top: 2px;
	margin-bottom: 2px;
}

.clazz-box {
	max-width: 250px;
	min-height: 80px;
	margin-bottom: 10px;
	background: #C6322A;
}

.clazz-header {
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 4px;
	background: #FF453A;
}

.content-class {
	position: relative;
	z-index: 989;
	height: 900px;
	background-color: #F1F1F1;
}

.fill-add-div {
	display: block;
	padding-top: 45px;
	padding-bottom: 4px;
	width:100%;
	text-decoration: none;
}