// Place all the styles related to the Clazzs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3 {
	margin-top: 2px;
	margin-bottom: 2px;
}

.clazz-box {
	min-height: 80px;
	margin-bottom: 10px;
	background: #C6322A;
}

.clazz-header {
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 4px;
	background: #FF453A;
}