// Place all the styles related to the Clazzs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3 {
	margin-top: 2px;
	margin-bottom: 2px;
}

.clazz-box {
	max-width: 250px;
	min-height: 80px;
	margin-bottom: 10px;
	background: #C6322A;
}

.clazz-header {
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 4px;
	background: #FF453A;
}

.content-class {
	position: relative;
	z-index: 989;
	height: 900px;
	background-color: #F1F1F1;
}

.fill-add-div {
	display: block;
	padding-top: 45px;
	padding-bottom: 4px;
	width:100%;
	text-decoration: none;
}

div#entry-trash {
	float:right; 
	text-indent: -9999px;
	height: 26px;
	width: 31px;
	z-index: 1000; 
	position: relative; 
	display: none;
	width: 53px;
	height: 63px;
}

div#entry-trash.normal {
	background: url(trash.png) no-repeat 0px 0px;
}

div#entry-trash.on-top {
	background: url(trash_Highlight.png) no-repeat 0px 0px;
}