// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.image-box {
	/*float: left;*/
	position: relative;
	margin: 8px;
}

.image-box-default {
	width:180px; 
	height:240px;
}

.image-overlay-text {
	width: 100%;
	height: 100%;
	position: absolute;
	display: none;
	opacity:0.9;
	filter:alpha(opacity=90); /* For IE8 and earlier */
}

.arrow-overlay {
	display: none;
	background: url(reverse_button.png) no-repeat 0 center;
	position: absolute;
	opacity:0.85;
	filter:alpha(opacity=85); /* For IE8 and earlier */
	width: 40px;
	height: 100%;
}

.right-arrow {
	background: url(forward_button.png) no-repeat 10px center;
	right: 0;
}