<div class="header">
	<div id="" class="left-nav">
		TEXT
	</div>

	<div class="right-nav">
		<div id="save-button" class="button" style="float: right">
			SAVE
		</div>
		<div id="new-button" class="button" style="float: right">
			NEW
		</div>
	</div>
</div>
